@font-face {
  font-family: 'hb-user-interface';
  src:  url('ui/hb-user-interface.eot?s6gqkp');
  src:  url('ui/hb-user-interface.eot?s6gqkp#iefix') format('embedded-opentype'),
    url('ui/hb-user-interface.ttf?s6gqkp') format('truetype'),
    url('ui/hb-user-interface.woff?s6gqkp') format('woff'),
    url('ui/hb-user-interface.svg?s6gqkp#hb-user-interface') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hb_ui_"], [class*=" hb_ui_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hb-user-interface' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hb_ui_logo:before {
  content: "\e92d";
}
.hb_ui_music-1:before {
  content: "\e900";
}
.hb_ui_technology:before {
  content: "\e901";
}
.hb_ui_gestures:before {
  content: "\e902";
}
.hb_ui_lock:before {
  content: "\e903";
}
.hb_ui_computer:before {
  content: "\e904";
}
.hb_ui_arrows-2:before {
  content: "\e905";
}
.hb_ui_draw-1:before {
  content: "\e906";
}
.hb_ui_interface-2:before {
  content: "\e907";
}
.hb_ui_multimedia-2:before {
  content: "\e908";
}
.hb_ui_time:before {
  content: "\e909";
}
.hb_ui_round:before {
  content: "\e90a";
}
.hb_ui_photo:before {
  content: "\e90b";
}
.hb_ui_sky:before {
  content: "\e90c";
}
.hb_ui_music:before {
  content: "\e90d";
}
.hb_ui_profile:before {
  content: "\e90e";
}
.hb_ui_can:before {
  content: "\e90f";
}
.hb_ui_interface-1:before {
  content: "\e910";
}
.hb_ui_shapes-1:before {
  content: "\e911";
}
.hb_ui_interface:before {
  content: "\e912";
}
.hb_ui_multimedia-1:before {
  content: "\e913";
}
.hb_ui_multimedia:before {
  content: "\e914";
}
.hb_ui_shapes:before {
  content: "\e915";
}
.hb_ui_arrows-1:before {
  content: "\e916";
}
.hb_ui_attachment:before {
  content: "\e917";
}
.hb_ui_chain-1:before {
  content: "\e918";
}
.hb_ui_chain:before {
  content: "\e919";
}
.hb_ui_exclamation:before {
  content: "\e91a";
}
.hb_ui_symbol:before {
  content: "\e91b";
}
.hb_ui_arrows:before {
  content: "\e91c";
}
.hb_ui_draw:before {
  content: "\e91d";
}
.hb_ui_message:before {
  content: "\e91e";
}
.hb_ui_bars:before {
  content: "\e91f";
}
.hb_ui_settings:before {
  content: "\e920";
}
.hb_ui_home:before {
  content: "\e921";
}
.hb_ui_photo-camera:before {
  content: "\e922";
}
.hb_ui_internet:before {
  content: "\e923";
}
.hb_ui_play-button:before {
  content: "\e924";
}
.hb_ui_placeholder:before {
  content: "\e925";
}
.hb_ui_search:before {
  content: "\e926";
}
.hb_ui_users:before {
  content: "\e927";
}
.hb_ui_star:before {
  content: "\e928";
}
.hb_ui_plus:before {
  content: "\e929";
}
.hb_ui_error:before {
  content: "\e92a";
}
.hb_ui_success:before {
  content: "\e92b";
}
.hb_ui_like:before {
  content: "\e92c";
}

